{% extends 'HUBerlinEPLiteProBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ group.name }}</h1>
    <h2>Pads</h2>
    <div id="pads">
    {% for pad in pads %}
        <div class="pad">
        <a href="{{ path('pad', {padid: pad.id}) }}" class="name">{{ pad.name }}</a>
        <span class="lastEdited">{{ pad.lastEdited }}</span>
        <a href="{{ path('pad_delete', {padid: pad.id}) }}"> <img src="{{ asset('bundles/huberlineplitepro/images/delete.png') }}" /> </a>
        </div>
    {% endfor %}
    </div>
    
    <br/>

    <h2>Neues Pad</h2>
    <form action="{{ path('group', {id: group.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        {{ form_rest(form) }}
        <input type="submit" />
    </form>
{% endblock %}