{% extends 'HUBerlinEPLiteProBundle::layout.html.twig' %}

{% block content %}
    <h1>Pads</h1>
    <table id="pads">
    {% for pad in pads %}
    <tr class="pad">
    <td><a href="{{ path('pad', {padid: pad.id}) }}" class="name">{{ pad.name }}</a></td>
    </tr>
    {% endfor %}
    </table>
    
    <br/>

    <h2>Neues Pad</h2>
    <form action="{{ path('group', {id: group.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        {{ form_rest(form) }}
        <input type="submit" />
    </form>
{% endblock %}