{% extends 'HUBerlinEPLiteProBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/huberlineplitepro/css/grouppic.css') }}" />
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/huberlineplitepro/js/jquery.iframe-post-form.js') }}"></script>
<script src="{{ asset('bundles/huberlineplitepro/js/groupPicture.js') }}"></script>
<script type="text/javascript">
$(function() {
	var uploadGroupPicture = new UploadGroupPicture({
		pathRemovePic: "{{ asset('bundles/huberlineplitepro/images/delete_red.png') }}"
		});
	uploadGroupPicture.init({
		pathAdd: "{{ path('group_addPicture', {id: group.id}) }}",
		pathRemove: "{{ path('group_removePicture', {id: group.id}) }}"
		});
});
</script>
{% endblock %}

{% block headerurl %}
{% if group.getWebPath is not null %}
{{ group.getWebPath }}
{% else %}
{{ parent() }}
{% endif %}
{% endblock %}

{% block content %}
    <h1>{{ group.name }}</h1>
    <h2>Pads</h2>
    <div id="pads">
    {% for pad in pads %}
        <div class="pad">
            <a class="padname" href="{{ path('pad', {padid: pad.id}) }}" >{{ pad.name }}</a>
            <span class="actions" >
                <a class="padremovelink" href="{{ path('pad_delete', {padid: pad.id}) }}"> <img src="{{ asset('bundles/huberlineplitepro/images/delete.png') }}" /> </a>
            </span>
            <span class="lastEdited">({{ pad.lastEdited }})</span>
            <img width="20" class="loader" style="display: none" src="{{ asset('bundles/huberlineplitepro/images/loader.gif') }}"/>
        </div>
    {% endfor %}
    </div>
    
    <br/>
    <h2>{{ 'newpad'|trans }}</h2>
    <form id="newpad" action="{{ path('group', {id: group.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        {{ form_rest(form) }}
        <input type="submit" value="Senden" />
    </form>
{% endblock %}