{% extends 'HUBerlinEPLiteProBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/huberlineplitepro/css/jquery-ui-1.9.2.custom.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/huberlineplitepro/css/groups.css') }}" />
{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/huberlineplitepro/js/jquery-1.8.3.js') }}"></script>
<script src="{{ asset('bundles/huberlineplitepro/js/jquery-ui-1.9.2.custom.js') }}"></script>
<script type="text/javascript">
$(function() {

    // Ajax call to display the pads here
    $('.group .showPads').click(function(e) {
        e.preventDefault();
        var obj = $(this);
        obj.parent().find('.pads .loader').show();
        obj.parent().find('.pads .content').empty();
        $.get(obj.attr('href'), function(data) {
            data = $(data);
            obj.parent().find('.pads .content').append(data.find('#pads').html());
            obj.parent().find('.pads .loader').hide();
            });
        });
	
	// Handle the user forms
	$('.adduserform').hide();
    var adduser = $('.adduser');
    adduser.show();
    adduser.addClass('hiddenform');
    adduser.click(function(e) {
    	e.preventDefault();
    	var obj = $(this);
    	if(obj.hasClass('hiddenform')) {
    		obj.parent().parent().find('.adduserform').show('blind');
    		obj.removeClass('hiddenform');
    		obj.empty().append('minus');
        }
    	else {
    		obj.parent().parent().find('.adduserform').hide('blind');
    		obj.addClass('hiddenform');
    		obj.empty().append('plus');
        }
    		
    });
});
</script>
{% endblock %}

{% block content %}
    <h1>Meine Gruppen</h1>
    <div id="groups">
    {% for group in groups %}
    <div class="group">
        <div class="info">
            <div class="name">
                <a href="{{ path('group', {id: group.id}) }}">{{ group.name }}</a>
                <a href="{{ path('group_delete', {id: group.id}) }}"> <img src="{{ asset('bundles/huberlineplitepro/images/delete.png') }}" /> </a>
            </div>
            <span class="creationdate">({{ group.creationdate.date | date('d.m.Y H:i:s')}})</span>
        </div>
        <div class="user">
            {% for user in group.user %} <span class="{% if user.isactivated == false %}notactivated{% endif %}" title="{{ user.uid }}{% if user.isactivated == false %} (not activated){% endif %}">{{ user.name }}</span>&nbsp;&nbsp;{% endfor %}<a href="#" class='adduser' style="display:none">plus</a></span>
            <form class="adduserform" action="{{ path('group_addUser', {id: group.id}) }}" method="post">
                <input type="text" placeholder="Benutzername" name="username" />
                <input type="submit" />
            </form>
        </div>
        <a class="showPads" href="{{ path('group', {id: group.id}) }}">Show Pads</a> 
        <div class="pads">
            <img width="20" class="loader" style="display: none" src="{{ asset('bundles/huberlineplitepro/images/loader.gif') }}"/>
            <div class="content"></div>
        </div>
        </div>
    {% endfor %}
    </div>    
    <br/>

    <h2>Neue Gruppe</h2>
    <form action="{{ path('base') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        {{ form_rest(form) }}
        <input type="submit" />
    </form>
{% endblock %}