{% extends 'HUBerlinEPLiteProBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/huberlineplitepro/css/pad.css') }}" />
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/huberlineplitepro/js/flashmessages.js') }}"></script>
<script src="{{ asset('bundles/huberlineplitepro/js/pad.js') }}"></script>
<script type="text/javascript">
$(function() {
	initPad();
});
</script>
{% endblock %}

{% block content %}
    <div id="pad-options">
        <div id="publicStatus">
            <img width="20" class="loader" style="display: none" src="{{ asset('bundles/huberlineplitepro/images/loader.gif') }}"/>
            <a id="switchPublic" href="{{ path('pad_switchPublic', {padid: padid}) }}">{{ 'public'|trans }}
                <div id="publicIndicator" class="indicator {% if ispublic %}on{% endif %}"></div>
            </a>
            <div class="text" {% if not ispublic %}style="display:none"{% endif %}>
                {{ 'publicurl'|trans }}: <a href="{{ url }}" target="_blank">{{ url }}</a>
            </div>
        </div>
        <div id="pass" {% if not ispublic %} style="display:none" {% endif %}>
        <img width="20" class="loader" style="display: none" src="{{ asset('bundles/huberlineplitepro/images/loader.gif') }}"/>
            <a id="switchPass" href="#" >
                {{ 'pass'|trans }}
                <div id="passIndicator" class="indicator {% if isPasswordProtected %}on{% endif %}"></div>

            </a>
            <div id="isPasswordProtected">
                <a id="removePass" href="{{ path('pad_deletePassword', {padid: padid}) }}">{% if isPasswordProtected %}{{ 'removePassword'|trans }}{% endif %}</a>
             </div>
            <form id="passForm" action="{{ path('pad', {padid: padid}) }}" method="post" {{ form_enctype(form) }} {% if isPasswordProtected %} style="display: none"{% endif %}>
                {{ form_errors(form) }}
                    {{ form_errors(form.pass) }}
                    {{ form_widget(form.pass) }}
                {{ form_rest(form) }}
                <input type="submit" value="Senden" />
            </form>
        </div>
    </div>
    
    <div id="eplitewrap">
        <iframe id="etherpadiframe" class="ui-widget-content" src ="{{ url }}" width="100%", height="100%"></iframe>
        <div id="eplitehandle" class="ui-resizable-s ui-resizable-handle ui-icon ui-icon-grip-solid-horizontal" style="z-index: 1000; display: none; left: 50%;"></div>
    </div>
    {# <script type="text/javascript">
YUI().use(\'resize\', function(Y) {
    var resize = new Y.Resize({
        //Selector of the node to resize
        node: \'#etherpadiframe\',
        handles: \'br\'
    });
    resize.plug(Y.Plugin.ResizeConstrained, {
        minWidth: 380,
        minHeight: 140,
        maxWidth: 1080,
        maxHeight: 1080
    }); 
    
});
</script>
#}
{% endblock %}