{% extends 'HUBerlinEPLiteProBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/huberlineplitepro/css/pad.css') }}" />
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/huberlineplitepro/js/pad.js') }}"></script>
<script type="text/javascript">
$(function() {
	initPad();
});
</script>
{% endblock %}

{% block content %}
    <h1 id="test" >{{ group.name }}: {{ padname }}</h1>
    
    <a id="switchPublic" href="{{ path('pad_switchPublic', {padid: padid}) }}">switchPublic</a>
    
    <div id="publicStatus"><span class="text">{% if ispublic %}{{ 'publicurl'|trans }}: <a href="{{ url }}" target="_blank">{{ url }}</a>{% else %}{{ 'notpublic'|trans }}{% endif %}</span><img width="20" class="loader" style="display: none" src="{{ asset('bundles/huberlineplitepro/images/loader.gif') }}"/></div>
    <div id="pass">
        <a id="addPass" href="#" style="display: none">{% if isPasswordProtected %}{{ 'changePassword'|trans }}{% else %}{{ 'addpass'|trans }}{% endif %}</a>
        <span id="isPasswordProtected"><a class="link" href="{{ path('pad_deletePassword', {padid: padid}) }}">{% if isPasswordProtected %}{{ 'removePassword'|trans }}{% endif %}</a><img width="20" class="loader" style="display: none" src="{{ asset('bundles/huberlineplitepro/images/loader.gif') }}"/></span>
        <form id="passForm" action="{{ path('pad', {padid: padid}) }}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
            <div>
                {{ form_errors(form.pass) }}
                {{ form_widget(form.pass) }}
            </div>
            {{ form_rest(form) }}
            <input type="submit" />
            <img width="20" class="loader" style="display: none" src="{{ asset('bundles/huberlineplitepro/images/loader.gif') }}"/>
        </form>
    </div>
    
    <div id="eplitewrap">
        <iframe id="etherpadiframe" class="ui-widget-content" src ="{{ url }}" width="100%", height="100%"></iframe>
        <div id="eplitehandle" class="ui-resizable-s ui-resizable-handle ui-icon ui-icon-grip-solid-horizontal" style="z-index: 1000; display: none; left: 50%;"></div>
    </div>
    {# <script type="text/javascript">
YUI().use(\'resize\', function(Y) {
    var resize = new Y.Resize({
        //Selector of the node to resize
        node: \'#etherpadiframe\',
        handles: \'br\'
    });
    resize.plug(Y.Plugin.ResizeConstrained, {
        minWidth: 380,
        minHeight: 140,
        maxWidth: 1080,
        maxHeight: 1080
    }); 
    
});
</script>
#}
{% endblock %}