{% extends 'EthergroupsMainBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/ethergroupsmain/css/grouppic.css') }}" />
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/ethergroupsmain/js/libs/jquery.iframe-post-form.js') }}"></script>

<script src="{{ asset('bundles/ethergroupsmain/js/uploadGroupPicture.js') }}"></script>

<script type="text/javascript">
$(function() {
	var uploadGroupPicture = new UploadGroupPicture({
		pathRemovePic: "{{ asset('bundles/ethergroupsmain/images/delete_red.png') }}"
		});
	uploadGroupPicture.init({
		pathAdd: "{{ path('group_addPicture', {id: group.id}) }}",
		pathRemove: "{{ path('group_removePicture', {id: group.id}) }}"
		});
});
</script>
{% endblock %}

{% block headerurl %}
{% if group.getWebPath is not null %}
{{ group.getWebPath }}
{% else %}
{{ parent() }}
{% endif %}
{% endblock %}

{% block content %}
    <h1>{{ group.name }}</h1>
    <h2>Pads</h2>
    <div id="pads">
    {% for pad in pads %}
        <div class="pad">
            <a class="padname" href="{{ path('pad', {padid: pad.id}) }}" data-name="{{ pad.name }}">{{ pad.name }}</a>
            {% if not readonly %}
            <span class="actions" >
                <a class="padremovelink" href="{{ path('pad_delete', {padid: pad.id}) }}"> <img title="{{ 'deletePad'|trans }}" src="{{ asset('bundles/ethergroupsmain/images/delete.png') }}" /> </a>
            </span>
            {% endif %}
            <span class="lastEdited">{{ pad.lastEdited }}</span>
            <img width="20" class="loader" style="display: none" src="{{ asset('bundles/ethergroupsmain/images/loader.gif') }}"/>
        </div>
    {% endfor %}
    </div>
    
    <br/>
    {% if not readonly %}
    <form id="newpad" action="{{ path('group', {id: group.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        {{ form_rest(form) }}
        <input type="submit" value="{{ 'add'|trans }}" />
        <img width="20" class="loader" style="display: none" src="{{ asset('bundles/ethergroupsmain/images/loader.gif') }}"/>
    </form>
    {% endif %}
{% endblock %}