{% extends 'EthergroupsMainBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/ethergroupsmain/css/groups.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/ethergroupsmain/css/grouppic.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/ethergroupsmain/css/pad.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/ethergroupsmain/css/onoffswitch.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/ethergroupsmain/css/onoffswitch_custom.css') }}" />
<style>
  .ui-autocomplete-loading {
    background: white url('{{ asset('bundles/huberlineplitepro/images/loader.gif') }}') right center no-repeat;
    background-size: 18px;
  }
  </style>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/ethergroupsmain/js/libs/jquery.iframe-post-form.js') }}"></script>
<script src="{{ asset('bundles/ethergroupsmain/js/libs/jquery.blockUI.js') }}"></script>
<script src="{{ asset('bundles/ethergroupsmain/js/libs/strnatcmp.js') }}" ></script>
<script src="{{ asset('bundles/ethergroupsmain/js/libs/strcmp.js') }}" ></script>
<script src="{{ asset('bundles/ethergroupsmain/js/libs/modernizr-build.min.js') }}" ></script>

<script src="{{ asset('bundles/ethergroupsmain/js/uploadGroupPicture.js') }}"></script>
<script src="{{ asset('bundles/ethergroupsmain/js/flashmessages.js') }}"></script>
<script src="{{ asset('bundles/ethergroupsmain/js/pad.js') }}"></script>
<script src="{{ asset('bundles/ethergroupsmain/js/groups.js') }}" ></script>
<script src="{{ asset('bundles/ethergroupsmain/js/index.js') }}" ></script>

<script type="text/javascript">
    $(function() {
        initIndex("{{ asset('bundles/ethergroupsmain/images/delete_red.png') }}");

    	// Autocomplete for the user forms
    	$('.adduserform input[type="text"]').autocomplete({
        	source: "{{ path('group_searchUserAjax') }}",
        	minLength: 2
    	});
    })
</script>
{% endblock %}

{% block content %}
<div id="groups-menu">
    <div id="groups">
    {% for group in groups %}
    <div id="group-{{ group.id }}" class="group">
        <div class="group-name">
            <a class="group-link" href="{{ path('group', {id: group.id}) }}">{{ group.name }}</a>
            <form class="editform" action="{{ path('group_rename', {id: group.id}) }}" method="post" style="display: none">
                <input type="text" name="groupname" maxlength="45" >
                <img width="20" class="editloader" style="display: none" src="{{ asset('bundles/ethergroupsmain/images/loader.gif') }}"/>
            </form>
            {% if not readonly %}
            <span class="actions">
                <a href="#" style="display: none" class="editgroup" ><img title="{{ 'editGroup'|trans }}" src="{{ asset('bundles/ethergroupsmain/images/edit.png') }}" /> </a>
                <a href="{{ path('group_delete', {id: group.id}) }}" class="group_delete {% if group.users.count == 1 %}last{% endif %}"> <img title="{{ 'removeGroup'|trans }}" src="{{ asset('bundles/ethergroupsmain/images/delete.png') }}" /> </a>
                <a href="{{ path('group_isLast', {id: group.id}) }}" class="group_islast" style="display: none"></a>
            </span>
            {% endif %}
            <img width="20" class="loader" style="display: none" src="{{ asset('bundles/ethergroupsmain/images/loader.gif') }}"/>
        </div>
        <div class="group-content">
            <div class="info">
                <span class="creationdate">({{ group.creationdate.date | date('d.m.Y')}})</span>
            </div>
            <div class="user">
                <a href="#" class="userinfo" style="display: none"><span class="usernumber">{{ 'user'|trans }} ({{ group.users.count }}/{{ group.users.count + group.invitations.count }})</span> <img title="{{ 'expandMembers'|trans }}" alt="plus" src="{{ asset('bundles/ethergroupsmain/images/plus.png') }}" /><img title="{{ 'collapseMembers'|trans }}"alt="minus" src="{{ asset('bundles/ethergroupsmain/images/minus.png') }}" style="display:none"/></a>
                <div class="usernames">
                    <div>
                        {% for user in group.users %} 
                            <span title="{{ user.uid }}">{{ user.name }}&nbsp;<a href="{{ path('group_removeUser', {'id': group.id, 'username': user.uid}) }}">X</a></span>&nbsp;
                        {% endfor %}
                        {% for invitation in group.invitations %}
                            <span class="notactivated" title="{{ invitation.user.uid }} (not activated)">{{ invitation.user.name }}</span>&nbsp;
                        {% endfor %}
                    </div>
                    {% if not readonly%}
                    <form class="adduserform" action="{{ path('group_addUser', {id: group.id}) }}" method="post">
                        <input type="text" placeholder="{{ 'newuser'|trans }}" name="username" maxlength="45" />
                        <input type="submit" value="{{ 'add'|trans }}" />
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="pads">
                <div class="content"></div>
                {% if not readonly %}
                <div class="newpad">
                    <form class="newpadform" action="{{ path('group', {id: group.id}) }}" method="post" {{ form_enctype(form) }}>
                    </form>
                </div>
                {% endif %}
            </div>
            <input type="hidden" name="pathAdd" value="{{ path('group_addPicture', {id: group.id}) }}" />
            <input type="hidden" name="pathRemove" value="{{ path('group_removePicture', {id: group.id}) }}" />
            <input type="hidden" name="picUrl" value="{% if group.getWebPath is not null %}{{ group.getWebPath }}{% endif %}" />
        </div>
    </div>
    {% endfor %}
    </div>
    <div id="invitations">
    {% for invitation in invitations %}
        <div id="group-{{ invitation.group.id }}" class="group">
            <div class="group-name">
                <span class="group-link">{{ invitation.group.name }}</span>
                <span class="approval-actions">
                    <a href="{{ path('group_confirm', {id: invitation.group.id}) }}" class="group_confirm"> <img title="{{ 'confirmGroup'|trans }}" src="{{ asset('bundles/ethergroupsmain/images/approve.png') }}" /> </a>
                    <a href="{{ path('group_decline', {id: invitation.group.id}) }}" class="group_remove"> <img title="{{ 'declineGroup'|trans }}" src="{{ asset('bundles/ethergroupsmain/images/delete.png') }}" /> </a>
                </span>
                <img width="20" class="loader" style="display: none" src="{{ asset('bundles/ethergroupsmain/images/loader.gif') }}"/>
            </div>
        </div>
    {% endfor %}
    </div>    
    <br/>

    {% if not readonly %}
    <form action="{{ path('base') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        {{ form_rest(form) }}
        <input type="submit" value="{{ 'add'|trans }}"/>
    </form>
    {% endif %}
    </div>
    
    <div id="pad">
        <div id="togglegroups" >
            <a href="#">
                <img class="left" title="{{ 'hideGroups'|trans }}" alt="Hide Groups" src="{{ asset('bundles/ethergroupsmain/images/left.png') }}" />
                <img class="right" title="{{ 'showGroups'|trans }}" alt="Show Groups" src="{{ asset('bundles/ethergroupsmain/images/right.png') }}" style="display:none"/>
                </a>
        </div>
        <div id="pad-content" class="empty"></div>
    </div>

    <img src="{{ asset('bundles/ethergroupsmain/images/loader-bar.gif') }}" id="loader-bar" style="display: none"/>

    <a id="renewCookie" href="{{ path('renewCookie') }}" data-expires="{{ firstExpiration }}" style="display: none"></a>
    
    <div id="removeDialogs" style="display: none">
        <div id="removeGroupDialog" style="display: none">{{ 'removeGroupDialog'|trans({}, 'dialogs') }}</div>
        <div id="removeGroupLastDialog" style="display: none">{{ 'removeGroupLastDialog'|trans({}, 'dialogs') }}</div>
        <div id="removePadDialog" style="display: none">{{ 'removePadDialog'|trans({}, 'dialogs') }}</div>
        <input type="button" class="yes" value="{{ 'yes'|trans }}"/>
        <input type="button" class="no" value="{{ 'no'|trans }}"/>
    </div>
{% endblock %}
