{% extends 'EthergroupsMainBundle::layout.html.twig' %}

{% block content %}
        <div class="pad">
            <a class="padname" href="{{ path('pad', {padid: pad.id}) }}" >{{ pad.name }}</a>
            <span class="actions" >
                <a class="padremovelink" href="{{ path('pad_delete', {padid: pad.id}) }}"> <img title="{{ 'deletePad'|trans }}" src="{{ asset('bundles/ethergroupsmain/images/delete.png') }}" /> </a>
            </span>
            <span class="lastEdited">{{ pad.lastEdited }}</span>
            <img width="20" class="loader" style="display: none" src="{{ asset('bundles/ethergroupsmain/images/loader.gif') }}"/>
        </div>
{% endblock %}