{% extends 'EthergroupsMainBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/ethergroupsmain/css/pad.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/ethergroupsmain/css/onoffswitch.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/ethergroupsmain/css/onoffswitch_custom.css') }}" />
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/ethergroupsmain/js/flashmessages.js') }}"></script>
<script src="{{ asset('bundles/ethergroupsmain/js/pad.js') }}"></script>
<script type="text/javascript">
$(function() {
	initPad();
});
</script>
{% endblock %}

{% block content %}
    <div id="pad-options">
        <div id="publicStatus">
            <span class="text" {% if not ispublic %}style="display:none"{% endif %}>
                <a href="{{ url }}" target="_blank">{{ 'publicurl'|trans }}</a>&nbsp;|&nbsp;
            </span>
            <a id="switchPublic" href="{{ path('pad_switchPublic', {padid: padid}) }}">
                {{ 'public'|trans }}
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="publicIndicator" {% if ispublic %}checked{% endif %}>
                    <div class="onoffswitch-label">
                        <div class="onoffswitch-inner"></div>
                        <div class="onoffswitch-switch"></div>
                    </div>
                </div>
            </a>
            <img width="20" class="loader" style="display: none" src="{{ asset('bundles/ethergroupsmain/images/loader.gif') }}"/>
        </div>
        <div id="pass" {% if not ispublic %} style="display:none" {% endif %}>
            <span class="text" {% if not isPasswordProtected %}style="display:none"{% endif %}>
                <span id="showHidePass">
                    <a id="showPass" href="javascript:void(0);">{{ 'showPass'|trans }}</a>
                    <a id="hidePass" href="javascript:void(0);" style="display:none">{{ 'hidePass'|trans }}:</a>
                </span>
                <span id="padPass" style="display: none">{{ pad.pass }}</span> &nbsp;|&nbsp;
            </span>
            <a id="switchPass" href="#" >
                {{ 'pass'|trans }}
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="passIndicator" {% if isPasswordProtected %}checked{% endif %}>
                    <div class="onoffswitch-label">
                        <div class="onoffswitch-inner"></div>
                        <div class="onoffswitch-switch"></div>
                    </div>
                </div>
            </a>
            <img width="20" class="loader" style="display: none" src="{{ asset('bundles/ethergroupsmain/images/loader.gif') }}"/>
            <div id="isPasswordProtected">
                <a id="removePass" href="{{ path('pad_deletePassword', {padid: padid}) }}">{% if isPasswordProtected %}{{ 'removePassword'|trans }}{% endif %}</a>
             </div>
            <form id="passForm" action="{{ path('pad', {padid: padid}) }}" method="post" {{ form_enctype(form) }} {% if isPasswordProtected %} style="display: none"{% endif %}>
                {{ form_errors(form) }}
                    {{ form_errors(form.pass) }}
                    {{ form_widget(form.pass) }}
                {{ form_rest(form) }}
                <input type="submit" value="Senden" />
            </form>
        </div>
    </div>
    
    <div id="eplitewrap">
        <iframe id="etherpadiframe" class="ui-widget-content" src ="{{ url }}" width="100%", height="100%"></iframe>
        <div id="eplitehandle" class="ui-resizable-s ui-resizable-handle ui-icon ui-icon-grip-solid-horizontal" style="z-index: 1000; display: none; left: 50%;"></div>
    </div>
    {# <script type="text/javascript">
YUI().use(\'resize\', function(Y) {
    var resize = new Y.Resize({
        //Selector of the node to resize
        node: \'#etherpadiframe\',
        handles: \'br\'
    });
    resize.plug(Y.Plugin.ResizeConstrained, {
        minWidth: 380,
        minHeight: 140,
        maxWidth: 1080,
        maxHeight: 1080
    }); 
    
});
</script>
#}
{% endblock %}