{% extends 'HUBerlinEPLiteProBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('/css/login.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block menu %}
	<div class="headerbaritem headerbaritemactive">Anmelden</div>
	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="login">
		<span class="title">Benutzeranmeldung</span>
		
		<form action="{{ path('login_check') }}" method="post">
			<div class="loginform">
				<label for="username">Benutzername:</label><br />
				<input type="text" id="username" name="_username" value="{{ last_username }}" /><br />
				<label for="password">Password:</label><br />
				<input type="password" id="password" name="_password" /><br />
				<input type="hidden" name="_target_path" value="/" />
				{% if error %}
					<div class="error">{{ error.message }}</div>
				{% endif %}
			</div>
			<button type="submit">Anmelden</button>
			<a href="http://www.rz.htw-berlin.de/de/htw_account/passwort_vergessen.html}">Passwort vergessen ?</a>
		</form>
	</div>
{% endblock %}