<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Demo Bundle{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/huberlineplitepro/css/base.css') }}" />
        {% endblock %}
        
        {% block javascript %}
        {% endblock %}
    </head>
    <body>
        <div id="page">
            {% block header %}
            <div id="header">
                <div id="pre_spacer">
                    <div id="headernote">
                        <a href="{{ path('base') }}"><strong>Etherpad Lite Pro</strong><br>Synchrones Schreiben</a>
                    </div>
                </div>
                <div id="logo_left">
                    <a href="{{ path('base') }}">
                        <img id="headerpic" alt="Header Picture" width="360" height="110" {% if group is defined and group.getWebPath is not null %}class="custom"{% endif %}src={% block headerurl %}"{{ asset('bundles/huberlineplitepro/images/logo_left.png') }}"{% endblock %}>
                    </a>
                </div>
                <a id="logo" href="{{ path('base') }}"></a>
                <div id="headermenu">
                    {% block headermenu %}
                        <div id="logininfo">
                            <span>{% if app.user.name is defined %}  {{ app.user.name }} {% else %} Gast {% endif %}</span>
                            (<a href="{{ path('logout') }}">Logout</a>)
                        </div>
                    {% endblock %}
                </div>
                <div id="navcontainer"></div>
            </div>
            
            {% endblock %}
            
            <div id="flash-messages">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ flashMessage }}
                </div>
            {% endfor %}
            </div>

            {% block content_header %}
                <div style="clear: both"></div>
            {% endblock %}

            <div class="page-content">
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </body>
</html>
