<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Etherpad Lite Pro{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/ethergroupsmain/css/base.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/ethergroupsmain/css/jquery-ui-1.9.2.custom.css') }}" />
        {% endblock %}
        
        {% block javascript %}
        <script src="{{ asset('bundles/ethergroupsmain/js/jquery-1.8.3.js') }}"></script>
        <script src="{{ asset('bundles/ethergroupsmain/js/jquery-ui-1.9.2.custom.js') }}"></script>
        <script src="{{ asset('bundles/ethergroupsmain/js/base.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div id="page">
            {% block header %}
            <div id="header">
                <div id="pre_spacer">
                    <div id="headernote">
                        <a href="{{ path('base') }}"><strong>{{ 'name'|trans }}</strong><br>{{ 'headernote'|trans }}</a>
                    </div>
                    <div id="left_menu"></div>
                </div>
                <div id="logo_left">
                    <a href="{{ path('base') }}">
                        <img id="headerpic" alt="Header Picture" width="360" height="110" {% if group is defined and group.getWebPath is not null %}class="custom"{% endif %}src={% block headerurl %}"{{ asset('bundles/ethergroupsmain/images/logo_left.jpg') }}"{% endblock %}>
                    </a>
                </div>
                <a id="logo" href="{{ path('base') }}"></a>
                <div id="headermenu">
                    {% block headermenu %}
                        <div id="rightmenu">
                        {% if app.user %}
                            <span id="logininfo">
                                <span>{% if app.user.name is defined %}  {{ app.user.name }} {% else %} {{ 'guest'|trans }} {% endif %}</span>
                                (<a href="{{ path('logout') }}">Logout</a>)
                            </span>
                        {% endif %}
                            <span id="langselector">
                                <form id="langform" action="{{ path('changeLanguage') }}" method="POST">
                                    <select name="lang" >
                                        <option value="de" {% if app.request.locale == 'de' %} selected {% endif %}>Deutsch</option>
                                        <option value="en" {% if app.request.locale == 'en' %} selected {% endif %}>English</option>
                                    </select>
                                    <input type="submit" />
                                </form>
                            </span>
                            <a href="#" id="toggle-header">
                                <img class="left" alt="Hide Groups" src="{{ asset('bundles/ethergroupsmain/images/up.png') }}" />
                                <img class="right" alt="Show Groups" src="{{ asset('bundles/ethergroupsmain/images/down.png') }}" style="display:none"/>
                            </a>
                        </div>
                    {% endblock %}
                </div>
                <div id="navcontainer"></div>
            </div>
            
            {% endblock %}
            
            <div id="flash-messages">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ flashMessage }}
                </div>
            {% endfor %}
            </div>

            {% block content_header %}
                <div style="clear: both"></div>
            {% endblock %}

            <div class="page-content">
                {% block content %}
                {% endblock %}
            </div>
            
            <div id="footer">
                <div id="footerwrap">
                {% autoescape false %}
                    {{ 'footer' | trans }}
                    {% endautoescape %}
                </div>
            </div>

        </div>
    </body>
</html>
